// --------------------- Screen Based CSS Start ------------------- //
.new{
    width: 400px;
}

.labelWidthD {  
    padding-top: 12px;
    min-width: 60px;
}

.labelWidthC {  
    padding-top: 2px;
    min-width: 60px;
}

.input-wrapper {
    position: relative;
    width: 100%;
  }

  .eye-icon:hover {
    color: #303f9f; /* Change icon color on hover */
  }

.eye-icon {
    position: absolute;
    right: 10px; /* Position the icon 10px from the right edge of the input */
    top: 60%; /* Position the icon vertically centered */
    transform: translateY(-50%); /* Center the icon vertically */
    border: none;
    background: transparent;
    cursor: pointer; /* Make it look clickable */
    color: #666; /* Icon color */
    font-size: 12px; /* Adjust the size of the icon */
    padding: 0; /* Remove any padding */
  }

